.Success {
    background-color: #04AA6D;
    padding: 20px;
}

.Failure {
    background-color: #f44336; 
    padding: 20px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

.success a:link,
.success a:link:visited{
    color: whitesmoke;
}

.default {background-color: #e7e7e7; color: black; padding: 20px;} /* Gray */
